* {
  --purple: rgb(6, 2, 38);
  --sunset: rgb(250, 175, 109);
  --bluish: rgb(54, 25, 182);
  --light: rgb(245, 245, 255);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--sunset);
}

a:hover {
  color: var(--sunset);
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection {
  color: var(--sunset);
  background-color: var(--bluish);
}

strong::selection,
a::selection {
  color: var(--bluish);
  background-color: var(--sunset);
}

.page-container {
  width: 100%;
  height: 100vh;
  perspective: 1000px;
}

#home-background,
#projects-background,
#about-background,
#contact-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 110vh;
  z-index: -1;
  background-size: cover;
  background-position: top;
  background-position-y: 0px;
}

#home-background {
  background-image: url("../media/Chesux-5.jpg");
}
#projects-background {
  background-image: url("../media/Chesux-6.jpg");
}

#about-background {
  background-image: url("../media/Chesux-3.jpg");
}

#contact-background {
  background-image: url("../media/Chesux.jpg");
}

.right_content {
  color: white;
}

.frost-glass {
  /* border-radius: 15px; */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  height: 220px;
  width: 370px;
  position: relative;
}

.frost-glass:before {
  content: "";
  backdrop-filter: blur(5px) saturate(100%) contrast(100%) brightness(100%);
  height: 100%;
  position: absolute;
  width: 100%;
}

.about_header {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.franja {
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.2);
  animation: Grow_height 1s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  clip: rect(0, auto, auto, 0);
}

.franja h1 {
  font-size: 2em;
  text-align: center;
  width: 100%;
  /* height: 100%; */
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  z-index: 1;
  /* position: relative; */
  color: white;
  opacity: 1;
  padding: 50px;
  animation: 2s ShowIn ease;
}

#about_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding: 0 5%;
  animation: FadeSlide_Out_DU 2s ease-out;
  background: linear-gradient(
      217deg,
      rgba(6, 2, 100, 0.8),
      rgba(6, 2, 10, 0.1) 70.71%
    ),
    linear-gradient(
      60deg,
      rgba(250, 175, 109, 0.5),
      rgba(54, 25, 182, 0.2) 70.1%
    );
}

.left_content,
.right_content {
  /* height: 100%; */
  padding: 20px;
  text-align: justify;
}

.left_content .wrapper {
  width: 100%;
  height: auto;
  position: sticky;
  top: 100px;
}

.photo {
  width: 350px;
  height: 450px;
  overflow: hidden;
  background-color: white;
  padding: 5px;
}

.photo_img {
  width: 100%;
  height: 100%;
  background-image: url("media/chesar_purple.jpeg");
  background-size: cover;
}

#hover_img {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.transparent-div {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.frame,
.frame_reverse,
.frame_light {
  /* background-color: rgba(250, 175, 109, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  /* width: 100%; */
  max-height: 150%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.wrapper:hover .frame {
  transform: rotateY(25deg) rotateZ(-4deg) translateZ(20px) scale(1);
  box-shadow: -35px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper:hover .frame_reverse .project_redes,
.wrapper:hover .frame .project_redes {
  margin-top: 10px;
  height: 60px;
  background-color: rgba(6, 2, 38, 1);
}

.wrapper:hover .frame_reverse {
  transform: rotateY(-25deg) rotateZ(4deg) translateZ(20px) scale(1);
  box-shadow: 35px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper:hover .frame_light {
  transform: rotateY(5deg) rotateZ(-1deg) translateZ(10px) scale(1);
  box-shadow: -15px 5px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper:hover .blue-bg {
  background-color: rgba(54, 25, 182, 0.5);
}
.wrapper:hover .dark-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.wrapper:hover .light-bg {
  background-color: rgba(255, 255, 255, 0.6);
}

.frame img {
  width: 100%;
  padding: 1em;
  transition: 0.5s;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(6, 2, 38, 0.9) !important;
  z-index: 10;
}

.navbar-brand {
  display: flex;
  width: 180px;
  flex-direction: column;
  transition: ease 0.5s;
}

.logos {
  bottom: 0px;
  position: relative;
  padding: 5px 0px;
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s ease;
}

.hidden {
  width: 120px;
}

#logo_up {
  animation: 1.5s FadeSlide_In_RL;
}
#logo_down {
  animation: 1.5s FadeSlide_In_LR;
}

#footer {
  height: 8vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 2, 38, 0.5) !important;
  z-index: 5;
}

.project_redes {
  transition: 0.5s ease;
  height: 0px;
  width: 100%;
  background-color: rgba(6, 2, 38, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.project_redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.redes {
  width: 50px;
  height: 50px;
  font-size: 2em;
  color: var(--sunset);
  transition: 0.5s;
}

.redes:hover {
  transform: scale(1.2);
  color: var(--bluish);
}

.shrink {
  height: 0vh;
  animation: ShrinkUp 2s ease;
}

#contact_container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
}

/* ANIMATIONS */

@keyframes FadeSlide_In_RL {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0 px);
    opacity: 1;
  }
}
@keyframes FadeSlide_In_LR {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0 px);
    opacity: 1;
  }
}
@keyframes FadeSlide_Out_LR {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}
@keyframes FadeSlide_Out_DU {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  60% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes ShrinkUp {
  0% {
    height: 100vh;
  }
  50% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}
@keyframes Grow_height {
  0% {
    width: 2px;
    height: 2px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
  }
}
@keyframes ShowIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CUSTOM PARTS */

/* width */
::-webkit-scrollbar {
  display: none;
}

/* PROJECTS */

.content-section {
  width: 100%;
  /* min-height: 110vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s ease;
}

#projects-selector {
  background-color: rgba(6, 2, 38, 0.8);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  width: 100%;
  /* min-height: 0vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em;
  padding-bottom: 1em;
  padding-top: 100px;
  transition: 0.5s;
  color: var(--light);
  background-color: rgba(255, 255, 255, 0.9);
}

.project.reverse {
  flex-direction: row-reverse;
}

.hide {
  min-height: 0vh;
  height: 0vh;
  padding: 0;
  overflow: hidden;
  background-color: var(--bluish);
}

.project-logo {
  min-width: 200px;
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-logo.wrapper {
  position: sticky;
  top: 100px;
}

.proj-logo-img {
  width: 100%;
  background-size: cover;
}

.project-info {
  flex-grow: 5;
  /* min-height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 2px 0px rgba(6, 2, 38, 0.5);
  background-color: rgba(6, 2, 38, 0.1);
}

.work {
  background-color: var(--light);
  min-height: 50vh;
  width: 100%;
  margin: 10px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(6, 2, 38, 0.5),
    2px 2px 5px 0px rgba(6, 2, 38, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  padding: 10px;
  color: var(--purple);
  transition: 0.5s;
}

.work-art {
  object-fit: cover;
  object-position: center center;
  width: 50vh;
  height: 50vh;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(6, 2, 38, 0.6);
}

.work-details {
  margin: 0px 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

#goup_btn {
  position: fixed;
  border: 1px solid rgba(0, 0, 0, 0.2);
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-color: var(--purple);
  border-radius: 50%;
  opacity: 1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#goup_btn i {
  color: var(--sunset);
  transition: 0.3s ease;
}

#goup_btn:hover i {
  color: var(--bluish);
}

@media (max-width: 600px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .project.reverse {
    flex-direction: column;
    align-items: center;
  }

  .project-info {
    width: 100%;
    padding: 0px;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .project-logo.wrapper {
    position: inherit;
    /* top: 100px; */
  }

  .project-logo {
    width: 70%;
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .work {
    flex-direction: column;
  }
  .work-art {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(6, 2, 38, 0.6);
  }
  .work-details {
    margin: 10px 10px;
  }

  #about_content {
    flex-direction: column;
  }

  .photo {
    width: auto;
    height: 400px;
    overflow: hidden;
    background-color: white;
    padding: 2px;
  }

  .franja h1 {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    opacity: 1;
    padding: 0px;
    animation: 2s ShowIn ease;
  }

  #goup_btn {
    display: none;
  }

  #hover_img {
    width: 0px;
    height: 0px;
    padding: 0px;
  }

  #contact_container {
    width: 80%;
  }
}
