* {
  --purple: rgb(6, 2, 38);
  --sunset: rgb(250, 175, 109);
  --bluish: rgb(54, 25, 182);
  --light: rgb(227, 227, 249);
}

html {
  scroll-behavior: smooth;
}

.page-container {
  width: 100%;
  height: 100vh;
}

#home-background,
#projects-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 110vh;
  z-index: -1;
  background-size: cover;
  background-position: top;
  background-position-y: 0px;
}

#home-background {
  background-image: url("../media/Chesux-5.jpg");
}
#projects-background {
  background-image: url("../media/Chesux-6.jpg");
}

.transparent-div {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.frame {
  /* background-color: rgba(250, 175, 109, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.wrapper:hover .frame-blue {
  transform: rotateY(25deg) rotateZ(-4deg) translateZ(20px) scale(1);
  background-color: rgba(54, 25, 182, 0.5);
  box-shadow: -35px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper:hover .frame-light {
  transform: rotateY(25deg) rotateZ(-4deg) translateZ(20px) scale(1);
  background-color: rgba(227, 227, 249, 0.5);
  box-shadow: -35px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.frame img {
  width: 100%;
  padding: 1em;
  transition: 0.5s;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(6, 2, 38, 0.9) !important;
  z-index: 5;
}

.navbar-brand {
  display: flex;
  width: 180px;
  flex-direction: column;
  transition: ease 0.5s;
}

.logos {
  bottom: 0px;
  position: relative;
  padding: 5px 0px;
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s ease;
}

.hidden {
  width: 120px;
}

#logo_up {
  animation: 1.5s FadeSlide_In_RL;
}
#logo_down {
  animation: 1.5s FadeSlide_In_LR;
}

#footer {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 2, 38, 0.5) !important;
  z-index: 5;
}

.redes {
  width: 50px;
  height: 50px;
  font-size: 2em;
  color: var(--sunset);
  transition: 0.5s;
}

.redes:hover {
  transform: scale(1.2);
  color: var(--bluish);
}

.shrink {
  height: 0vh;
  animation: ShrinkUp 2s ease;
}

/* ANIMATIONS */

@keyframes FadeSlide_In_RL {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0 px);
    opacity: 1;
  }
}
@keyframes FadeSlide_In_LR {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0 px);
    opacity: 1;
  }
}
@keyframes FadeSlide_Out_LR {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes ShrinkUp {
  0% {
    height: 100vh;
  }
  50% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

/* CUSTOM PARTS */

/* width */
::-webkit-scrollbar {
  display: none;
}

/* PROJECTS */

.content-section {
  width: 100%;
  /* min-height: 110vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s ease;
}

#projects-selector {
  background-color: rgba(6, 2, 38, 0.8);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  width: 100%;
  /* min-height: 0vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em;
  padding-bottom: 1em;
  padding-top: 100px;
  transition: 0.5s;
  color: var(--light);
  background-color: var(--light);
}

.project.reverse {
  flex-direction: row-reverse;
}

.hide {
  min-height: 0vh;
  height: 0vh;
  padding: 0;
  overflow: hidden;
  background-color: var(--bluish);
}

.project-logo {
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.proj-logo-img {
  width: 100%;
  background-size: cover;
}

.vertical-line {
  min-height: 400px;
  width: 2px;
  border-radius: 2px;
  background-color: var(--bluish);
  margin: 0px 5px;
}

.project-info {
  flex-grow: 10;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2em;
  border: 1px solid rgba(6, 2, 38, 0.2);
  box-shadow: inset 0px 0px 2px 0px rgba(6, 2, 38, 0.5);
  background-color: rgba(6, 2, 38, 0.03);
}

.work {
  background-color: var(--light);
  min-height: 50vh;
  width: 100%;
  margin: 10px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(6, 2, 38, 0.5),
    2px 2px 5px 0px rgba(6, 2, 38, 0.2);
}

.project-logo.wrapper {
  position: sticky;
  top: 100px;
}

@media (max-width: 600px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .project.reverse {
    flex-direction: column;
    align-items: center;
  }

  .project-info {
    width: 100%;
  }

  .project-logo.wrapper {
    position: inherit;
    /* top: 100px; */
  }

  .project-logo {
    width: 70%;
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
